<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add" method="get">
        <table border="1">
            <tr>
                <th>First Name</th>
                    <th><input type="text" placeholder="Enter First Name"</th>
            </tr>
            <tr>
                <th>Last Name</th>
                <th><input type="text" placeholder="Enter Last Name"></th>
            </tr>
            <tr>
                <th>Email</th>
                <th><input type="email" placeholder="Enter E-mail"</th>
            </tr>
           <tr>
            <th>Password</th>
            <th><input type="password" placeholder="Enter Password"></th>
           </tr>
           <tr>
            <th colspan="2"><button>Submitt</button></th>
           </tr>
        </table>
    </form>
    
</body>
</html>